.screen-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}


.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
    position: relative;
}

.screen-header__icons span div {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
}